<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Application</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Application</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- /.row -->
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" *ngIf="isSearch">
                                Filters -
                                <i *ngFor="let search of searchMap | keyvalue"> {{search.key }} :
                                    {{search.key.search('Date')==-1?search.value:search.value|date:'shortDate'}}
                                    &nbsp;
                                    <i class="fas fa-times" style="cursor:pointer;" (click)="remove(search.key)"></i>
                                    &nbsp;&nbsp;
                                </i>
                            </h4>

                            <div class="card-tools">
                                <div class="input-group input-group-sm">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default" (click)="openDialog()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">


                            <table mat-table [dataSource]="dataSource" style="width: 100%;">

                                <!-- Position Column -->
                                <ng-container matColumnDef="name" >
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Name </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="purpose">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Purpose </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.purpose}} </td>
                                </ng-container>
                        
                                <!-- Weight Column -->
                                <ng-container matColumnDef="sourceUrl">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Url </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.sourceUrl}} </td>
                                </ng-container>
                        
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="registerDate">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Date </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.registerDate}} </td>
                                </ng-container>
                        
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Status </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.status}} </td>
                                </ng-container>
                        
                                <ng-container matColumnDef="serviceCount">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> ServiceCount </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.serviceCount}} </td>
                                </ng-container>

                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Action </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default">Action</button>
                                            <button type="button"
                                                class="btn btn-default dropdown-toggle dropdown-icon"
                                                data-toggle="dropdown">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item" (click)="view(element.id)">View</a>
                                                <a class="dropdown-item"
                                                    (click)="openService(element.id)">Services</a>
                                                <a class="dropdown-item"
                                                    (click)="fetch(element.id,element.serviceDocUrl)">DIscover
                                                    Services</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>                        


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-4">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> {{heading}}</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <form [formGroup]='applicationForm' (ngSubmit)="onSubmit()">

                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="txtName">Name<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="txtName" placeholder="Enter name"
                                            formControlName="name">
                                    </div>
                                    <input type="hidden" id="applicationID" formControlName="id" />

                                    <div class="form-group">
                                        <label for="txtPurpose">Purpose<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="txtPurpose"
                                            placeholder="Enter purpose" formControlName="purpose">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtSourceUrl">Source Url<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="txtSourceUrl"
                                            placeholder="Enter sourceUrl" formControlName="sourceUrl">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtServiceDocUrl">Service Doc Url<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="txtServiceDocUrl"
                                            placeholder="Enter service Doc Url" formControlName="serviceDocUrl">
                                    </div>

                                    <div class="form-group" *ngIf="!isOnBoard">
                                        <label for="txtServiceDocUrl">Date</label>
                                        <input type="text" class="form-control" id="txtServiceDocUrl"
                                            formControlName="date" data-inputmask-alias="datetime"
                                            data-inputmask-inputformat="dd/mm/yyyy" data-mask
                                            [attr.disabled]="isDateFieldDisabled ? true : null" />
                                    </div>

                                    <div class="form-group">
                                        <label for="txtServiceDocUrl">Status<span style="color: red;">*</span></label>
                                        <select class="form-control" id="method" formControlName="status">
                                            <option value="" selected>PLEASE SELECT</option>
                                            <option *ngFor="let httpMethod of commonService.status" [value]="httpMethod"
                                                [disabled]="isOnBoard"
                                                [ngClass]="{'highlighted': httpMethod === f['status'].value}"> {{
                                                httpMethod }}</option>
                                        </select>

                                    </div>

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="submitted">{{submitButtonName}}</button>
                                    &nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger" (click)="clear()">
                                        {{cancelButtonName}}</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>


            </div>
            <!-- /.row -->


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>