<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">History</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
        <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active" *ngFor="let log of botLog">
				<div>
				{{ log.relativeTime }}
				</div>
	
                  <a href="javascript:void(0)" class="nav-link">
                    <i class="fas"></i> <a style="cursor:pointer;" (click)="fetchResponse(log)">{{ log.question }}</a>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-outline">
            <div class="card-header">
              <h3 class="card-title">Chat Details</h3>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
         
            <div class="card-body p-0">
				<div class="col-md-6">
				<!-- Chat Details Grid -->
				<section class="response-section" *ngIf="selectedLogs">
					<div>
						
						<div *ngFor="let log of selectedLogs">
						<div>
						<strong>User</strong>
            <div>{{log.question }}</div>
						</div>
						<div>
						<strong>Buddy</strong>
            <div>{{log.response }}</div>
						</div>
					</div>
				</div>
			</section>
			</div>

              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
</div>	