<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- /.row -->
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" *ngIf="isSearch">
                                Filters -
                                <ng-container *ngFor="let search of searchMap | keyvalue">
                                    <ng-container *ngIf="search.key !== 'clientId'"> <!-- Exclude clientId -->
                                        {{ search.key }} :
                                        {{ search.key.search('Date')==-1 ? search.value : search.value | date:'shortDate' }}
                                        <i class="fas fa-times" style="cursor:pointer;" (click)="remove(search.key)"></i>
                                        &nbsp;&nbsp;
                                    </ng-container>
                                </ng-container>
                            </h4>
                            <div class="card-tools">
                                <div class="input-group input-group-sm">
 
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default" (click)="openDialog()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">

                            <table mat-table [dataSource]="dataSource" style="width: 100%;">
                          
                                <ng-container matColumnDef="empId">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> EmpId </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.empId}} </td>
                                </ng-container>
                        
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Name </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.name}} </td>
                                </ng-container>
                        
                                <!-- Access Type Column -->
                                <ng-container matColumnDef="accessType">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> AccessType </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.accessType}} </td>
                                </ng-container>
                        
                                <!-- Email Column -->
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Email </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.email}} </td>
                                </ng-container>
                        
                                <!-- Mobile Number Column -->
                                <ng-container matColumnDef="mobileNumber">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> MobileNumber </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.mobileNumber}} </td>
                                </ng-container>
                        
                                <!-- Status Column -->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Status </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.status}} </td>
                                </ng-container>
                        
                                
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Action </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default">Action</button>
                                            <button type="button"
                                                class="btn btn-default dropdown-toggle dropdown-icon"
                                                data-toggle="dropdown">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item" (click)="view(element)">View</a>
                                                <a class="dropdown-item" (click)="navigateToChat(element.empId)">Chat Details</a>
                                                                                         
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator> 
                        </div>
                                
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                

                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"> {{heading}}</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <form [formGroup]='userForm' (ngSubmit)="onSubmit()">

                                <div class="card-body">

                                    <div class="form-group">
                                        <label for="txtName">Emp Id<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="txtName" placeholder="Enter Emp Id"
                                            formControlName="empId">
                                    </div>
                                    <div class="form-group">
                                        <label for="txtName">Name<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="txtName" placeholder="Enter name"
                                            formControlName="name">
                                    </div>
                                    <input type="hidden" id="userId" formControlName="id"/>

                                    <div class="form-group">
                                        <label for="txtPurpose">Email<span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="txtPurpose"
                                            placeholder="Enter Email" formControlName="email">
                                    </div>

                                    <div class="form-group">
                                        <label for="txtSourceUrl">Mobile<span style="color: red;">*</span></label>
                                        <input type="tel" class="form-control" id="txtSourceUrl"
                                            placeholder="Enter mobile number" formControlName="mobileNumber">
                                    </div>

                                    <div class="form-group">
                                        <label for="method">Application Name <span style="color: red;">*</span></label>
                                        <select class="form-control" id="applicationName" formControlName="applicationName" multiple >
                                            <option *ngFor="let application of applications" [value]="application.id">{{
                                                application.name }}</option>
                                        </select>
                                    </div>
    
                                    <input type="hidden" class="form-control" id="Id" placeholder="Enter Application Id"
                                        formControlName="id" required>

                                    <div class="form-group">
                                        <label for="txtServiceDocUrl">Access Type</label>
                                            <select class="form-control" id="method" formControlName="accessType"> 
                                                <option value="" selected>PLEASE SELECT</option>
                                                <option *ngFor="let accessType of accesTypes" [value]="accessType"  [disabled] ="isOnBoard" [ngClass]="{'highlighted': accessType === f['accessType'].value}">                                                {{
                                                    accessType }}</option>
                                        </select>                                        
                                    </div> 
                                    <div class="form-group">
                                        <label for="txtServiceDocUrl">Status</label>
                                            <select class="form-control" id="method" formControlName="status"> 
                                                <option value="" selected>PLEASE SELECT</option>
                                                <option *ngFor="let httpMethod of status" [value]="httpMethod"  [disabled] ="isOnBoard" [ngClass]="{'highlighted': httpMethod === f['status'].value}">                                                {{
                                                    httpMethod }}</option>
                                        </select>                                        
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" [disabled]="submitted">{{submitButtonName}}</button>
                                    &nbsp;&nbsp;
                                    <button type="button" class="btn btn-danger"  (click)="clear()"> {{cancelButtonName}}</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>


            </div>
            <!-- /.row -->


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>