<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Service</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Service</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Endpoint</th>
                                    <th>Method</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let service of originalService; index as i">
                                  <td>{{ service.endpoint }}</td>
                                  <td>{{ service.method }}</td>
                                  <td>{{ service.name }}</td>
                                  <td>{{ service.responseType }}</td>
                                  <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default">Action</button>
                                      <button
                                        type="button"
                                        class="btn btn-default dropdown-toggle dropdown-icon"
                                        data-toggle="dropdown"
                                      >
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item">View</a>
                                        <a class="dropdown-item" href="#">Fetch Services</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Delete</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                    <div class="card-footer"> 
                    </div>
                </div>
                <!-- left column -->
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Onboard New Service</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]='serviceForm' (ngSubmit)="onSubmit()">


                            <div class="card-body">
                                <div class="form-group">
                                    <label for="clientId">Application Id</label>
                                     

                                     <select class="form-control" id="ResponseType" formControlName="client">
                                        <!-- Default value -->
                                        <option value="" disabled selected>Select Request Type</option>
                                        <option *ngFor="let application of applications" [value]="application.id" >{{ application.name }}</option> 
                                    </select>

                                </div>    
                                
                                <div class="form-group">
                                    <label for="name">Service Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Service Name"
                                        formControlName="name">
                                </div>

                                <div class="form-group">
                                    <label for="endpoint">Service Endpoint</label>
                                    <input type="text" class="form-control" id="endPoint"
                                        placeholder="Enter Service Endpoint" formControlName="endpoint">
                                </div>

                                <div class="form-group">
                                    <label for="endpoint">Search Keyword</label>
                                    <input type="text" class="form-control" id="txtKeyword"
                                        placeholder="Enter Service Endpoint" formControlName="keyword">
                                </div>

                                <div class="form-group">
                                    <label for="method">HTTP Method</label>
                                    <select class="form-control" id="method" formControlName="method">
                                        <option *ngFor="let httpMethod of httpMethods" [value]="httpMethod">{{
                                            httpMethod }}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="endpoint">Summary</label>
                                    <input type="text" class="form-control" id="txtKeyword"
                                        placeholder="Enter Service Endpoint" formControlName="summary">
                                </div>

                                <div class="form-group">
                                    <label for="ResponseType">Request Type</label>
                                    <select class="form-control" id="ResponseType" formControlName="requestTypes"  
                                        multiple>
                                        <!-- Default value -->
                                        <option value="" disabled selected>Select Request Type</option>
                                        <option *ngFor="let responseType of responseTypes" [value]="responseType" >{{ responseTypes }}</option> 
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="ResponseType">Response Type</label>
                                    <select class="form-control" id="ResponseType" formControlName="responseTypes"  
                                        multiple>
                                        <!-- Default value -->
                                        <option value="" disabled selected>Select Response Type</option>
                                        <option *ngFor="let responseType of responseTypes" [value]="responseType"  >{{ responseType }}</option> 
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="endpoint">response</label>
                                    <input type="text" class="form-control" id="txtKeyword"
                                        placeholder="Enter Service Endpoint" formControlName="response">
                                </div>


                                <div class="form-group">
                                    <label for="endpoint">responceTemplate</label>
                                    <input type="text" class="form-control" id="txtKeyword"
                                        placeholder="Enter Service Endpoint" formControlName="responseTemplate">
                                </div>

                            </div>

                           

                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" [disabled]="submitted">Submit</button>
                                &nbsp;&nbsp;
                                <button type="reset" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>