<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Service</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Service</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title" *ngIf="isSearch">
                                Filters -  
                                 <i *ngFor="let search of searchMap | keyvalue">  {{search.key }} : {{search.key.search('Date')==-1?search.value:search.value|date:'shortDate'}} 
                                    &nbsp;
                                    <i class="fas fa-times" style="cursor:pointer;" (click)="remove(search.key)"></i>
                                    &nbsp;&nbsp;
                                 </i> 
                            </h4>

                            <div class="card-tools">
                                <div class="input-group input-group-sm">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default" (click)="openDialog()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive p-0">

                            <table mat-table [dataSource]="dataSource" style="width: 100%;">
                          
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Name </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.name}} </td>
                                </ng-container>
                        
                                <!-- Endpoint Column -->
                                <ng-container matColumnDef="endpoint">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Endpoint </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.endpoint}} </td>
                                </ng-container>
                                <ng-container matColumnDef="method">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Method </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.method}} </td>
                                </ng-container>
                        
                                <!-- Status Column -->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Status </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;"> {{element.status}} </td>
                                </ng-container>
                        
                                <!-- Parameter Count Column -->
                                <ng-container matColumnDef="parameterCount">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> ParameterCount </th>
                                    <td mat-cell *matCellDef="let element" style="font-size: 14px;" class="centered-cell"> {{element.parameterCount}} </td>
                                </ng-container>
                        

                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Action </th>
                                    <td mat-cell *matCellDef="let element" style="width: 50px; font-size: 14px;"> 
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default">Action</button>
                                            <button type="button"
                                                class="btn btn-default dropdown-toggle dropdown-icon"
                                                data-toggle="dropdown">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" role="menu">
                                                <a class="dropdown-item" (click)="view(element)">View</a>
                                               
                                                <a class="dropdown-item"
                                                    (click)="addParameter(element.id)">Add Parameter
                                                    </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator> 
                        </div>
                        
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">New Onboard Or Edit Service</h3>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <div class="input-group-append">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body table-responsive p-0">
                        <form [formGroup]='serviceForm' (ngSubmit)="onSubmit()">


                            <div class="card-body">
                                <div class="form-group">
                                    <label for="method">Application Name <span style="color: red;">*</span></label>
                                    <select class="form-control" id="applicationName" formControlName="applicationName">
                                        <option *ngFor="let application of applications" [value]="application.id">{{
                                            application.name }}</option>
                                    </select>
                                </div>

                                <input type="hidden" class="form-control" id="Id" placeholder="Enter Application Id"
                                    formControlName="id" required>
                                <div class="form-group">
                                    <label for="name">Service Name<span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter Service Name" formControlName="name" required>
                                </div>

                                <div class="form-group">
                                    <label for="summary">Service Summary<span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="summary" placeholder="Summary"
                                        formControlName="summary" required>
                                </div>

                                <div class="form-group">
                                    <label for="endpoint">Service Endpoint<span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="endPoint"
                                        placeholder="Enter Service Endpoint" formControlName="endpoint" required>
                                </div>

                                <div class="form-group">
                                    <label for="keyword">Search Keyword <span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="txtKeyword" placeholder="Enter keyword"
                                        formControlName="keyword" required>
                                </div>

                                <div class="form-group">
                                    <label for="method">HTTP Method <span style="color: red;">*</span></label>
                                    <select class="form-control" id="method" formControlName="method">
                                        <option *ngFor="let httpMethod of httpMethods" [value]="httpMethod">{{
                                            httpMethod }}</option>
                                    </select>
                                </div>



                                <div class="form-group">
                                    <label for="RequestType">Request Type <span style="color: red;">*</span></label>
                                    <select class="form-control" id="RequestType" formControlName="requestTypes"
                                        multiple>
                                        <!-- Default value -->
                                        <option value="" disabled selected>Select Request Type</option>
                                        <option *ngFor="let requestType of requestTypes" [value]="requestType"
                                            [ngClass]="{'highlighted': requestType === f['requestTypes'].value}">
                                            {{ requestType }}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="ResponseType">Response Type <span style="color: red;">*</span></label>
                                    <select class="form-control" id="ResponseType" formControlName="responseTypes"
                                        multiple>
                                        <!-- Default value -->
                                        <option value="" disabled selected>Select Response Type</option>
                                        <option *ngFor="let responseType of responseTypes" [value]="responseType"
                                            [ngClass]="{'highlighted': responseType === f['responseTypes'].value}">
                                            {{ responseType }}
                                        </option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label for="botResponseTemplate">Bot Response Template <span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="botResponseTemplate"
                                        placeholder="Enter Bot Response Template" formControlName="botResponseTemplate">
                                </div>

                                <div class="form-group">
                                    <label for="response Schema">Response Schema <span style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="responseSchema"
                                        placeholder="Enter Response Schema" formControlName="responseSchema">
                                </div>

                            </div>



                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" [disabled]="submitted">{{ submitButtonName }}</button>
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-danger" (click)="clear()">
                                    {{cancelButtonName}}</button>

                                
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
        </div>
    </section>
</div>