<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form [formGroup]='dashboardForm'>

                            <div class="card-body">
                                <div class="form-group">
                                    <label for="txtApplicationCount">Application Count</label>
                                    <input type="text" class="form-control" id="txtApplicationCount" placeholder="Application Count"
                                        formControlName="applicationCount">
                                </div>

                                <div class="form-group">
                                    <label for="txtServiceCount">Service Count</label>
                                    <input type="text" class="form-control" id="txtServiceCount" placeholder="Service Count"
                                        formControlName="serviceCount">
                                </div>

                                <div class="form-group">
                                    <label for="txtTopUsed10Services">Top Used 10 Services</label>
                                    <input type="text" class="form-control" id="txtTopUsed10Services"
                                        placeholder="Top Used 10 Services" formControlName="topUsed10Services">
                                </div>

                                <div class="form-group">
                                    <label for="txtLeastUsed10Services">Least Used 10 Services</label>
                                    <input type="text" class="form-control" id="txtLeastUsed10Services"
                                        placeholder="Least Used 10 Services" formControlName="leastUsed10Services">
                                </div>

                                <div class="form-group">
                                    <label for="txtMostActiveClient">Most Active Client</label>
                                    <input type="text" class="form-control" id="txtMostActiveClient"
                                        placeholder="Most Active Client" formControlName="mostActiveClient">
                                </div>
								
                                <div class="form-group">
                                    <label for="txtLeastActiveClient">Least Active Client</label>
                                    <input type="text" class="form-control" id="txtLeastActiveClient"
                                        placeholder="Least Active Client" formControlName="leastActiveClient">
                                </div>								
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>