<div class="hold-transition register-page" >

    <div class="register-box" style="width: 550px">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>VoiceBot</b> <i style="font-size: 18px;"> I.E.C.P</i></a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">Thank you for registration</p>    
             <hr>
            
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p> You are successfully registered with us.<br> Please check your registered email and verify you account.</p>
                </blockquote>
                <figcaption class="blockquote-footer">Registered Email :<cite title="Source Title">  {{email}} </cite>
                </figcaption>
            </figure>
            
      
            <a href="login.html" class="text-center">I already have a membership</a>
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
      </div>
</div>
